{% extends 'base.html.twig' %}

{% block title %}New BankInformations{% endblock %}

{% block body %}
    <h1>Create new BankInformations</h1>

    {{ include('bank_informations/_form.html.twig') }}

    <a href="{{ path('bank_informations_index') }}">back to list</a>
{% endblock %}
